.nav-link {
    color: white;
    background-color: black;
    margin_top
}

.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: #f9f5f5;
}

.button {
  border-radius: 50%}
h1 {font-size: calc(1.525rem + 3.3vw);
    font-family: Arial Black;
}

h6 {
    font-family: Century Gothic;
}

h4 {
    font-family: Century Gothic;
}
h3 {
    font-family: Century Gothic;
}

.dropdown-class-genre > .Select-control {
   width:100% !important;
   border: 2px solid black;
   #border-radius:20px;
   background-color:#F8C954;
}

.dropdown-class-feelings > .Select-control {
   width:100% !important;
   border: 2px solid black;
   #border-radius:20px;
   background-color:#BB26A4;
}

.dropdown-class-feelings2 > .Select-control {
   width:100% !important;
   border: 2px solid black;
   #border-radius:20px;
   background-color:#5B8A93;
}

.dropdown-class-popularity > .Select-control {
   width:100% !important;
   border: 2px solid black;
   #border-radius:20px;
   background-color:#BB26A4;
}

.dropdown-class-artist > .Select-control {
   width:100% !important;
   border: 2px solid black;
   #border-radius:20px;
   background-color:#5B8A93;
}

.dropdown-class-song > .Select-control {
   width:100% !important;
   border: 2px solid black;
   #border-radius:20px;
   background-color:#FFA307;
}

.Select-placeholder {
    bottom: 0;
    color: white;}


.nav-link.exact{
    color: white;
    background-color: black;
}


element.style {
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #fff;
    left: 0;
    line-height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



